/AppGallery/.vs/

/AppGallery/AppGallery/AppGallery/bin
/AppGallery/AppGallery/AppGallery/obj

/AppGallery/AppGallery/AppGallery.Android/bin
/AppGallery/AppGallery/AppGallery.Android/obj

/AppGallery/AppGallery/AppGallery.iOS/bin
/AppGallery/AppGallery/AppGallery.iOS/obj

/AppGallery/AppGallery/AppGallery.UWP/bin
/AppGallery/AppGallery/AppGallery.UWP/obj



/AppQuantidade/.vs

/AppQuantidade/AppQuantidade/AppQuantidade/bin
/AppQuantidade/AppQuantidade/AppQuantidade/obj

/AppQuantidade/AppQuantidade/AppQuantidade.Android/bin
/AppQuantidade/AppQuantidade/AppQuantidade.Android/obj

/AppQuantidade/AppQuantidade/AppQuantidade.iOS/bin
/AppQuantidade/AppQuantidade/AppQuantidade.iOS/obj

/AppQuantidade/AppQuantidade/AppQuantidade.UWP/bin
/AppQuantidade/AppQuantidade/AppQuantidade.UWP/obj


/AppTarefa/.vs

/AppTarefa/AppTarefa/AppTarefa/bin
/AppTarefa/AppTarefa/AppTarefa/obj

/AppTarefa/AppTarefa/AppTarefa.Android/bin
/AppTarefa/AppTarefa/AppTarefa.Android/obj

/AppTarefa/AppTarefa/AppTarefa.iOS/bin
/AppTarefa/AppTarefa/AppTarefa.iOS/obj

/AppTarefa/AppTarefa/AppTarefa.UWP/bin
/AppTarefa/AppTarefa/AppTarefa.UWP/obj


